* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    background: #000;
    margin: 0 auto;
    max-width: 1100px;
    padding: 25px 70px;
    font-size: 28px;
    min-height: 100%;
    font-family: 'Ultra', serif;
    color: #FFB800;
}

a,
a:visited {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.menuPg {
    margin: auto;
    text-align: center;
}

.menuPg>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}

.btn-lvl {
    width: 150px;
    margin-top: 20px;
}

.btn-strt {
    margin-top: 40px;
}

.gamePg {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
}

.gamePg-leftBar {
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    align-items: flex-start;
    text-align: left;
}

.gamePg-info {
    display: flex;
    flex-direction: column;
}

.gamePg-rightBar {
    display: flex;
    flex-direction: column;
    order: 3;
    justify-content: space-around;
    width: 200px;
    align-items: flex-end;
    text-align: right;
}

.gamePg-frontTetris {
    display: flex;
    align-self: center;
    order: 2;
    position: relative;
    overflow: hidden;
    border-top: 1px solid red;
    border-left: 1px solid red;
}

.gamePg-backTetris {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background: #fff;
}

.figure,
.set {
    background-color: #FFB800;
}

.btn_style {
    font-family: 'Ultra', serif;
    font-size: 26px;
    width: 100px;
    height: 50px;
    background: #FFB800;
    border-radius: 23px;
    padding: 5px;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
}

.btn_style:hover {
    background: rgb(245, 92, 3);
}

.btn_style:focus {
    outline: none
}

.hidden {
    display: none;
}